@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root {
  --black: hsla(210, 8%, 15%, 1);
  --yellow: hsla(38, 99%, 52%, 1);
  --red: hsla(0, 100%, 36%, 1);
  --green: hsla(126, 100%, 25%, 1);
  --gray: hsla(0, 0%, 85%, 1);
  --bg-gradient: linear-gradient(0deg, #24272a 0%, rgba(36, 39, 42, 0.88) 100%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

h1,
h2,
h3 {
  /* font-weight: 700; */
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  font-weight: 500;
  background-color: rgba(254, 165, 11, 0.459);
}

summary {
  list-style: none;
}

footer {
  font-weight: 500;
  max-height: fit-content;
}

.nav-item:hover {
  background-color: var(--yellow);
}

.nav-item {
  border-bottom: 1px solid var(--gray);
  margin: 10px;
  padding-left: 20px;
  text-align: left !important;
}

.dropdown-menu {
  border: none;
  width: 110%;
  margin-left: -25px;
  padding-left: 20px;
}

.dropdown-menu li {
  margin-bottom: 10px;
}

.dropdown-item:hover {
  width: 70% !important;
}
