/* LOGIN PAGE */
.login__left {
  background: var(--bg-gradient);
  color: hsl(0, 0%, 100%);
}

.login__right {
  background-color: var(--gray);
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* NAVBAR  PAGE */

@media (max-width: 991px) {
  .navbar > div {
    flex-direction: row-reverse !important;
  }

  .navar-brand {
    position: absolute;
    right: 0;
  }
}

.nav {
  padding: 2rem 3rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  border-bottom: 2px solid var(--yellow);
}
.nav__searchbox {
  border-radius: 10px;
  flex: 1;
}
.nav__searchbox > input[type="text"] {
  outline: none;
  border: none;
  flex: 1 !important;
}

.nav__searchbox > i {
  cursor: pointer;
}

.avatar-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.nav__notification {
  padding: 5px 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 100%;
  margin-left: 1rem;
}
.nav__notification > i {
  font-size: 1.2rem;
  color: var(--yellow);
}

.nav__logout {
  padding: 10px 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 100%;
  margin-left: 1rem;
}
.nav__name {
  font-size: 0.5rem;
}

.nav__name > span:first-child {
  font-weight: 600;
}

/* MAIN CONTAINER */

.main-container {
  background-color: var(--gray);
  height: 100%;
  padding: 20px 0;
  position: relative;
}

.main-content {
  position: relative;
  left: 17%;
}

.width {
  max-width: 95%;
  margin-inline: auto;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  left: 10px;
  height: auto;
}

@media (max-width: 991px) {
  .main-content {
    position: relative;
    left: 0;
  }

  /* SIDEBAR */

  .sidebar {
    left: 0;
  }
}

.box {
  background-color: #fff;
  border-top: 2px solid var(--yellow);
  border-bottom-right-radius: 1.5rem;
  padding: 20px;
  height: 100%;
}

.sidebar__main > div {
  padding: 1rem;
}
.sidebar__main > div:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: bold;
}

.box-content > h1 {
  font-weight: 700;
  font-size: 2rem;
}

.box-content > article {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(240, 240, 240);
  position: absolute;
  right: 20px;
  top: 20px;
}

.underline {
  height: 5px;
  width: 100%;
  background-color: var(--gray);
}

.underline > div {
  height: 100%;
  width: 25%;
  background-color: var(--yellow);
}

/* TRANSACTION BOS */

.transaction__icon {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(240, 240, 240);
  /* position: absolute;
  right: 20px;
  top: 20px; */
}

.daterange {
  outline: none;
  border: none;
  cursor: pointer;
}

.t2 > tr > td:last-child {
  text-align: right;
}

.thead > tr > th {
  font-size: 0.7rem;
}
/* footer {
  position: sticky;
  bottom: 0;
  z-index: 100;
  background-color: #fff;
  border-top: 2px solid var(--yellow);
} */

.navbar-nav-text-item {
  font-size: 0.8rem;
}

.table-items > tr > td {
  font-size: small;
}
